@font-face {
    font-family: 'Lemon Tuesday Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Lemon Tuesday Regular'), url('/fonts/Lemon\ Tuesday.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    font-family: "open sans";
 
    --theme-green: rgb(132, 198, 4);
    --theme-orange: rgb(253, 79, 16);
    --theme-darker-green: rgb(31, 186, 10);
    --theme-ligth-gray: rgb(191, 191, 191);
    --theme-dark-gray: rgb(128, 128, 128);
    box-sizing: border-box;
}
/**/
.header {
    height: 130px;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

.header p {
    font-size: 0.65em;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 350px;
    background-color: rgb(26, 45, 52);
}

.container {
    min-width: 1070px;
    max-width: 1170px;
    margin: 0 auto;
}
.contacts {
    font-size: 14px;
}

.contacts > i {
    color: rgb(31, 186, 10);
    font-size: 17px;
    margin-right: 10px;
}

.callback {
    border: 1px solid var(--theme-darker-green);
    letter-spacing: 1px;
    font-size: 14px;
    color: var(--theme-darker-green);
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    transition: all 0.15s ease-out;
}

.callback:hover{
    background-color: var(--theme-darker-green);
    color: white;
}

.btn-row {
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
}

.btn {
    letter-spacing: 1px;
    text-align: center;
    background-attachment: white;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    flex: 1 1 auto;
    transition: all 0.15s ease-out
}

.btn:hover {
    background-color: rgb(132, 198, 4);
    color: white;
}

.orders {
    background-color: red;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 8px;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    position: relative;
    left: -125px;
    top: 7px;
}

.fa-chevron-down { 
    font-size: 10px;
}

.row {
    border-bottom: 1px solid rgb(242, 242, 242);
    padding: 10px 0 10px 0;
}

/* slider */
.fullsize {
    width: 100%;
    height: 675px;
    overflow: hidden;
    position: absolute;
    top: 130px;
    left: 0;
}
.slider__line {
    width: 300%;
    height: 100%;
    display: flex;
}
.slider__item {
    width: 33.3333%;
    transition: all 0.7s ease;
}
.slider__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* discount */
.happy-hours {
    font-family: "Lemon Tuesday Regular";
    color: var(--theme-green);
    line-height: 90px;
    font-size: 100px;
    width: 480px;
}
.discount-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 415px;
    margin-top: 130px;
    position: absolute;
    top: 0px;
}
.discount-block p {
    color: white;
    font-style: italic;
    font-size: 1.5em;
}
.discount {
    margin-top: 115px;
    position: absolute;
    top: 0%;
    left: 50%;
    width: 120px;
    text-align: center;
}
.discount p {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    top: 26%;
    left: 15%;
}


.orange-button {
    text-decoration: none;
}

.button-body {
    font-size: 14px;
    letter-spacing: 1px;
    background-color: var(--theme-orange);
    width: 50%;
    border-radius: 4px;
    padding: 15px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.15s ease-out;  
}

.button-body:hover {
    background-color: rgb(200, 53, 0);
}

.menu {
    flex-direction: column;
}
.menu-first {
    margin-top: 850px;
}

.menu-label {
    font-family: "Lemon Tuesday Regular";
    font-size: 45px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(50, 80, 90);
}

.product-card {
    height: 436px;
    width: 233px;
    border-radius: 10px;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 20px rgb(230, 230, 230);
}
.card-wok {
    height: 474px;
}
.food-container {
    width: 233px;
    height: 190px;
    border-radius: 10px;
}
.sauce {
    background: none;
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    
}
.dropdown {
    width: 100%;
}
.sauce:focus,
.sauce:checked {
    border: none;
    outline: none;
}
.dropdown_btn {
    position: absolute;
    top: 1px;
    right: 0px;
}

.dropdown img {
    pointer-events:none;
}
.lower select {
    background:rgb(242, 242, 242);
    padding: 5px;
    padding-left: 7px;
    font-size: 0.7em;
    border: none;
    border-radius: 3px;
}


.food-container img {
    width: 100%;
}

.lower {
    text-align: center;
    width: 81%;
    margin: 0 auto;
    flex-direction: column;
    padding-bottom: 30px;
    height: 100%;
}

.lower p {
    font-weight: 400;
    font-size: 80%;
}

.price-block {
    font-weight: 700;
}

.amount {
    font-size: 125%;
    font-family: "Roboto Slab";
    margin-right: 5px;
}

.currency {
    font-size: 90%;
    font-family: "Roboto Slab";
}

.quantity-block {
    width: 65px;
}

.btn_minus {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 3px;
    left: 0px;
}
.btn_plus {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 3px;
    right: 0px;
}
.btn_minus img,
.btn_plus img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.left_amount_btn_hover,
.right_amount_btn_hover {
    opacity: 1;
    transition: all 0.15s ease-out;
}
.left_amount_btn_hover:hover,
.right_amount_btn_hover:hover {
    opacity: 0;
}

.fa-plus-square {
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.fa-plus-square:hover {
    color:rgb(200, 53, 0);
}

.quantity-block i:hover {
    color: var(--theme-orange);
}

.quantity-block span {
    font-size: 16px;
}

.btn-into-cart {
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: var(--theme-orange);
    padding: 10px;
    border-radius: 5px;
    transition: all 0.15s ease-out;
}
.cart__button-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 133px;
    margin: 0 auto;
}

.btn-into-cart:hover {
    background-color: rgb(200, 53, 0);
}


.points {
    width: 150px;
    margin-left: 40px;
    margin-right: 40px;
}

.point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.point-green {
    background-color: var(--theme-green);
}

.point-gray {
    background-color: rgb(179, 179, 179);
    transition: all 0.15s ease-out;
    cursor: pointer;
}

.point-gray:hover {
    background-color: var(--theme-green);
}

.special-marker {
    position: absolute;
    top: 150px;
}

.first {
    left: 185px;
    top: 128px;
}

.second {
    left: 459px;
    top: 128px;
}
.second_new {
    top: 12px;
    left: 509px;
    z-index: 1;
}

.third {
    left: 695px;
}

.fourth {
    right: 32px;
    top: 128px;
}

.special-second {
    top: 38px;
    left: 494px;
}

.small_amount {
    font-family: "open sans";
    font-size: 0.9em;
}
.small_currency {
    font-family: "open sans";
    font-size: 0.6em;
}


.addition i {
    color: var(--theme-orange);
    font-size: 20px;
}

.addition > .val {
    position: absolute;
    top: 0px;
    left: 74px;
}

.addition p {
    font-size: 0.8em;
}

.add_nullify {
    position: absolute;
    cursor: pointer;
    top: 6px;
    left: 97px;
}
.add_sauce_placeholder {
    width: 40px;
    height: 20px;
}
.add_sauce_block {
    position: absolute;
    top: 0px;
    left: 69px;
}

.special-part {
    width: 100%;
    height: 715px;
    background-image: url('/img/special_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.special-links {
    margin: 50px 0 50px 75px;
}

.special-links a {
    text-decoration: none;
    font-weight: 700;
    margin-right: 50px;
    color: var(--theme-ligth-gray);
    transition: all 0.15s ease-out;
}

.special-links a[class="active"] {
    color: var(--theme-orange);
}

.special-links a:hover {
    color: var(--theme-orange);
}

.reasons {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 80px;
}

.reason {
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3%;
}

.reason p {
    color: rgb(77, 77, 77);
    line-height: 200%;
    margin-top: 20%;
}

.leave-contacts {
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100%;
    height: 300px;
    background-image: url('/img/leave_your_contacts_bar.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    color: white;
}

.leave-contacts-label {
    font-family: "Lemon Tuesday Regular";
    color: white;
    line-height: 90px;
    font-size: 50px;
}

.contact-container {
    width: 65%;
}

.contact-container input {
    padding: 5px;
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    transition: all 0.15s ease-out;
}
.contact-container p {
    position: relative;
    top: 13px;
    left: 0px;
}

.contact-container input:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

.form-item {
    width: 30%;
}

.small {
    padding-top: 3em;
    font-size: 0.8em;
    font-weight: 400;
}

.description {
    width: 70%;
}

.description h2 {
    color:rgb(50, 80, 90);
    padding-bottom: 20px;
}

.description p {
    font-size: 0.9em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-company {
    margin-bottom: 200px;
}
.about_label {
    margin-bottom: 50px;
}

.footer-upper {
    margin-top: 50px;
}

.footer-upper p {
    margin-bottom: 5px;
    color: white;
    font-size: 0.8em;
}

.ul {
    list-style: none;
    line-height: 180%;
    color: white;
    font-size: 0.8em;
}

.ul-dusk {
    font-size: 0.6em;
    line-height: 230%;
    color:rgb(107, 150, 165)
}

.footer-lower {
    color: rgb(107, 150, 165);
    font-size: 0.6em;
}

.footer-lower a {
    color: rgb(107, 150, 165);
    margin-left: 100px;
}

.social {
    width: 10%;
}

.left_arrow_hover {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    transition: opacity 0.15s ease-out;
}

.right_arrow_hover {
    cursor: pointer;
    position: absolute;
    right: 0px;
    opacity: 0;
    transition: opacity 0.15s ease-out;
}

.right_arrow_hover:hover,
.left_arrow_hover:hover {
    opacity: 1;
}

.footer_light_hover,
.footer_orange_hover {
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.footer_orange_hover:hover {
    color: var(--theme-orange);
}

.footer_light_hover:hover {
    color:rgb(206, 239, 251);
}

.left_slider_btn {
    position: absolute;
    bottom: 50%;
    left: 120px;
}

.right_slider_btn {
    position: absolute;
    bottom: 50%;
    right: 120px;
}

.discount_pagination {
    width: 100px;
    margin: 0 auto;
    margin-top: 60px !important;
}

.social_hover {
    cursor: pointer;
    transition: all 0.15s ease-out;
    opacity: 0.65;
}
.social_hover:hover {
    opacity: 1;
}

.new_green_belt {
    position: absolute;
    top: 6px;
    left: -25px;
    width: 94px;
    height: 32px;
    border-bottom: 26px solid var(--theme-darker-green);
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    transform: rotate(-45deg);
}
.new_green_belt p {
    color: white;
    position: relative;
    top: 6px;
    left: 3px;
    font-family: "Roboto slab";
}
.paginator {
    margin-bottom: 60px;
    margin-top: 60px;
}

.d-flex {display: flex;}
.align-items-baseline {align-items: baseline;}
.align-items-stretch {align-items: stretch;}
.align-content-center {align-content: center;}
.align-items-end {align-items: flex-end;}
.align-items-center {align-items: center;}
.justify-content-center {justify-content: center;}
.justify-content-around {justify-content: space-around;}
.justify-content-between {justify-content: space-between;}
.justify-content-evenly{justify-content: space-evenly;}
.justify-content-end {justify-content: flex-end}
.ml1 {margin-left: 1em}
.ml2 {margin-left: 2em}
.ml3 {margin-left: 3em}
.ml4 {margin-left: 4em}
.ml5 {margin-left: 5em}
.mr1 {margin-right: 1em}
.mr2 {margin-right: 2em}
.mr3 {margin-right: 3em}
.mr4 {margin-right: 4em}
.mr5 {margin-right: 5em}
.mt0 {margin-top: 0}
.mt1 {margin-top: 1em}
.mt2 {margin-top: 2em}
.mt3 {margin-top: 3em}
.mt4 {margin-top: 4em}
.mt5 {margin-top: 5em}
.mb1 {margin-bottom: 1em}
.mb2 {margin-bottom: 2em}
.mb3 {margin-bottom: 3em}
.mb4 {margin-bottom: 4em}
.mb5 {margin-bottom: 5em}
.pf {position: fixed}
.pr {position: relative}
.pa {position: absolute}
.fd-column {flex-direction: column;}
.w100p {width: 100%;}
.w80p {width: 80%;}
.w70p {width: 70%;}
.w60p {width: 60%;}
.w40p {width: 40%;}
.w20p {width: 20%;}
